* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.container {
    margin: 0px 350px;
}

body {
    font-family: 'Arial', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

ul, li {
  list-style: none;    /* убираем маркеры/нумерацию */
}

.upper_text {
    background-color: black;
    padding: 5px;
}

.upper_text p {
    text-align: center;
    font-size: 18px;
    color: white;
}

.search_bar {
    position: relative;
    background-color: #edebeb;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #919091;     
}

.search_input {
    width: 800px;   /* ШИРИНА ПОИСКОВОГО ОКНА */
    padding: 8px 12px;
    font-size: 16px;
    border: 3px solid #b8b6b6;
    border-radius: 15px;
    margin-left: 220px; /* СДВИГАЕТ ПОИСКОВИК ВПРАВО */
}

.home_icon {
    position: absolute;
    left: 500px;
    border: 2px solid #a6a6a6;
    padding: 5px 12px;
    border-radius: 15px;
}

/* ЗАДНИЙ ФОН С СУПЕРКАРАМИ */
.home_image {
    width: 100%;
    height: 750px;
    background-image: url('images/main_image.jpg');
    background-size: cover;
    background-position: center -200px; /* ПЕРЕМЕЩЕНИЕ ГЛАВНОГО ИЗОБРЖАЖЕНИЯ ВВЕРХ/ВНИЗ */
    background-repeat: no-repeat;
    position: relative;
}

.home_image h1,
.home_image h2,
.home_image h3,
.home_image p {
    position: absolute; /* Позволяет свободно размещать */
    margin: 0;
}

.home_image h1 {
    top: 15%;      /* смещение сверху от 0% до 100% */
    left: 20%;      /* смещение слева от 0% до 100% */
    font-family: Pacifico;
    font-size: 86px;
    color: #dedee0;
    text-shadow: 4px 4px 8px black;
}
.home_image h2 {
    top: 31.5%;
    left: 27.5%;
    color: #c41616;
    text-shadow: 3px 3px 1px black; /* сдвиг X, Y, размытие, цвет */
}

.home_image h3 {
    color: #a1dde5;
    font-size: 30px;
    font-weight: 500;
    top: 37%;
    left: 20%;
    text-shadow: 4px 4px 4px black;
}

.home_image p {
    color: white;
    font-size: 18px;
    top: 42%;
    left: 20%;
    text-shadow: 3px 3px 1px black;
}

/* МАГАЗИН */
.shop_section {
    display: flex;
    justify-content: center;
}

.car_box {
    width: 1200px;
    height: 800px;
    background-color: #4d0404;
    position: absolute;
    top: 70%;
    border: 2px solid #f51b1b;
    z-index: 4;
}
/* КРАСНЫЙ ФОН МАГАЗИНА */
.red_img {
    width: 100%;
    height: 750px;
    background-image: url('images/wall_image.jpg');
    background-size: cover;
    background-position: center -200px; /* ПЕРЕМЕЩЕНИЕ ГЛАВНОГО ИЗОБРЖАЖЕНИЯ ВВЕРХ/ВНИЗ */
    background-repeat: no-repeat;
    position: absolute;
    top: 75%;
    z-index: 3;
}

.red_border {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 7px;          /* толщина рамки */
    background-color: #b50b0b; /* цвет рамки */
}

.shop_buttons ul {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin: 15px 0;
}

.shop_buttons ul li {
    width: 225px;             /* фиксированная ширина кнопки */
    height: 60px;             /* фиксированная высота кнопки */
    border: 1px solid red;
    border-radius: 6px;
    background-color: #e01b1b;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    box-sizing: border-box;
}

.shop_buttons ul li:hover {
    background-color: white;
}

.shop_buttons ul li a {
    display: flex;
    width: 100%;
    height: 100%;
    font-size: 20px;          /* размер текста можно менять */
    color: white;
    align-items: center;
    text-align: center;       /* чтобы текст был по центру */
    justify-content: center;
    overflow: hidden;         /* если текст слишком большой, не вылезает */
    white-space: nowrap;      /* текст в одну строку */
}

.shop_buttons ul li:hover a {
    color: black;
}