* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    cursor: url("images/cursor.cur");
}

a {
    text-decoration: none;
    color: black;
    cursor: url("../images/cursor.cur"), pointer;
}

.fixed_pos {
    position: fixed;
    width: 100%;
    z-index: 10;
}

.upper_text {
    background-color: black;
    padding: 5px;
}

.upper_text p {
    text-align: center;
    font-size: 18px;
    color: white;
}

.search_bar {
    background-color: #edebeb;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center; /* центрируем содержимое */
    align-items: center;
    border: 2px solid #919091;     
    gap: 100px; /* расстояние между иконкой и поиском */
}

.home_icon {
    border: 3px solid #a6a6a6;
    padding: 5px 12px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home_icon img {
    width: 25px;
    height: 25px;
}

.search_input {
    width: 800px;
    max-width: 100%; /* чтобы не вылазило за экран */
    padding: 8px 12px;
    font-size: 16px;
    border: 3px solid #b8b6b6;
    border-radius: 15px;
}

/* ЗАДНИЙ ФОН С АВТО */
.car_bg {
    background-image: url(../images/main_image.jpg);
    width: 100%;
    height: 75vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    bottom: 200px;
}
