* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    cursor: url("images/cursor.cur");
}

a {
    text-decoration: none;
    color: black;
    cursor: url("../images/cursor.cur"), pointer;
}

.fixed_pos {
    position: fixed;
    width: 100%;
    z-index: 10;
}

.upper_text {
    background-color: black;
    padding: 5px;
}

.upper_text p {
    text-align: center;
    font-size: 18px;
    color: white;
}

.search_bar {
    background-color: #edebeb;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center; /* центрируем содержимое */
    align-items: center;
    border: 2px solid #919091;     
    gap: 100px; /* расстояние между иконкой и поиском */
}

.home_icon {
    border: 3px solid #a6a6a6;
    padding: 5px 12px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home_icon img {
    width: 25px;
    height: 25px;
}

.search_input {
    width: 800px;
    max-width: 100%; /* чтобы не вылазило за экран */
    padding: 8px 12px;
    font-size: 16px;
    border: 3px solid #b8b6b6;
    border-radius: 15px;
}

/* ЗАДНИЙ ФОН С АВТО */
.car_bg {
    background-image: url(../images/main_image.jpg);
    width: 100%;
    height: 720px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    bottom: 250px;
}

.main_t {
    display: inline-block;
    position: relative;
    top: 50%;
    left: 20%;
    text-shadow: 2px 1px 5px black;
}

.main_text h1 {
  font-size: 110px;
  color: #8a8484;
  margin: 0;
  position: relative;
  font-family: Pacifico;
  
}

.main_text h2 {
  font-size: 32px;
  color: #b01c1c;
  margin: 10px 0 0 0;
  position: relative;
  left: 185px;
  bottom: 45px;
  text-transform: uppercase;
}

.red_box {
    position: relative;
    display: flex;
}

.shop_section {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: -250px;
}

.red_bg {
    background-image: url(../images/wall_image.jpg);
    width: 100%;
    height: 100%;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 3;
}

.car_box {
    position: relative;
    width: 75rem;
    min-height: 84rem; /* вместо height */
    background-color: #380303;
    border: 2px solid #8f0606;
    z-index: 4;
    bottom: 10%;
}

.red_line {
    border-top: 8px solid #a30808;
}

.vapid_page img {
    width: 100px;
    height: 86px;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 30px;
    margin-top: 30px;
}

.logo h1 {
    color: white;
    text-transform: uppercase;
    margin-left: 25px;
    font-size: 36px;
    font-weight: 100;
}

.logo p {
    margin-left: auto;
    margin-right: 30px;
    font-size: 36px;
    color: white;
}

.description {
    margin-left: 30px;
    margin-top: 30px;
}

.desk_p {
    display: inline-block;
    color: white;
    font-size: 22px;
}

.car_image {
    float: right;
    margin-right: 30px;
}

.car_image img {
    width: 700px;
}

.colors_menu {
    display: flex;
    margin-top: 25px;
    gap: 50px;
}

.color_red {
    border-radius: 50%;
    background-color: #cc1228;
    width: 52px;
    height: 52px;
}

.color_pink {
    border-radius: 50%;
    background-color: #f51dd1;
    width: 52px;
    height: 52px;
}

.color_yellow {
    border-radius: 50%;
    background-color: #f9fc17;
    width: 52px;
    height: 52px;
}

.color_orange {
    border-radius: 50%;
    background-color: #eda71a;
    width: 52px;
    height: 52px;
}

.colors_menu2 {
    display: flex;
    margin-top: 30px;
    gap: 50px;
}

.color_green {
    border-radius: 50%;
    background-color: #3af24d;
    width: 52px;
    height: 52px;
}

.color_blue {
    border-radius: 50%;
    background-color: #181fed;
    width: 52px;
    height: 52px;
}

.color_black {
    border-radius: 50%;
    background-color: #212126;
    width: 52px;
    height: 52px;
    border: 3px solid gray;
}

.color_white {
    border-radius: 50%;
    background-color: white;
    width: 52px;
    height: 52px;
}

.speed {
    margin-top: 15px;
}

.speed progress {
    margin-left: 15%;
}

.boost progress {
    margin-left: 12%;
}

.boost {
    margin-top: 5px;
}

.braking progress {
    margin-left: 7%;
}

.braking {
    margin-top: 5px;
}

.control progress {
    margin-left: 8%;
}

.control {
    margin-top: 5px;
}

.buy_button {
    margin-top: 25px;
}

.buy_button .button {
    padding: 16px 32px;
    width: 380px;
    background-color: #d10f0f;
    text-align: center;
    border: none;
    font-size: 20px;
    text-transform: uppercase;
    color: white;
    opacity: 0.6;
    transition: 0.3s;
}

.button:hover {opacity: 1;}